
.Todo {
    margin: 12px;
    border: 1px solid #eee;
    color: #4d3e3e;
    background-color: #fff3cd;
    box-shadow: 0 1px 2px #fff3cd;
    text-align: center;
    box-sizing: border-box;
}

.Todo button {
    margin: 5px;
    min-width: 80px;
    background-color: #4d3e3e;
    color: #ff926b;
}